/* ========= ELEMENTS ========== */

:root {
    /* ========= COLORS ======== */
    --text-color: rgb(51, 51, 51);
    --text-back: rgb(253, 253,253);
    --heading-color: rgb(247,182,0);
    --heading-back: rgb(51, 51, 51);
    --link-hover: rgb(255, 251, 0);
    --alt-link-hover: purple;
    --hero-back: rgb(51, 51, 51);
}

html {
    font-size: calc(50% + 1.5vw);
}

html *:focus {
    outline: 0.1em solid purple;
    outline-offset: 0.1em;
}

body, p, ul, li, h1, h2, article, figcaption, figure, footer, header, hgroup, menu, nav, section {
    background-color: var(--text-back);
    box-sizing: border-box;
    color: var(--text-color);
    display: block;
    font-family: sans-serif;
    line-height:1.2;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

a {
    color: var(--heading-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a img {
    border: none 0 #FFFFFF;
}

h1, h2 {
    color: var(--heading-color);
    background-color: var(--heading-back);
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.1em;
    padding: 0.8vw 1.4vw;
    text-transform: uppercase;

}

h2 {
    font-size: 1.5em;
    text-align: left;
}

small {
    font-size: 100%;
}

/* ====== HELPERS ===== */

.hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

/* ====== HEADER, MAIN, FOOTER ===== */

#maincontent {
    background-color: var(--text-back);
    min-height: 100vh;
}

#footer {
    background-color: var(--heading-back);
    color: var(--text-back);
    letter-spacing: 0.5vw;
    text-align: center;
    text-transform: uppercase;
}

#footer a {
    color: var(--text-back);
    font-weight: bold;
}

#footer a:hover {
    color: var(--link-hover);
}

/* ===== Navigation ===== */

.skip-link {
    position:absolute;
    top: -999px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

nav {
    width: 100%;

    /* height: auto; */
    background-color: var(--hero-back);
    text-align: center;
}

nav h1 a {
    color: white;
}

#breadcrumb {
    background-color: var(--hero-back);
    list-style: none;
    padding: 1vw;
}

/* Display list items side by side */

#breadcrumb li {
    color: var(--heading-color);
    background-color: var(--hero-back);
    display: inline;

}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
    padding: 0;
    color: var(--text-back);
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: var(--heading-color);
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

/* ===== Map ===== */

#map {
    height: 400px;
    width: 100vw;
    background-color: var(--text-back);
}

#map a {
    font-weight: bold;
}

#map a:hover, #map a:focus {
    color: var(--alt-link-hover);
}

/* ===== Restaurant Filtering ===== */

.filter-options {
    /* align-items: center; */
    background-color: var(--hero-back);
    padding: 1vw;
    width: 100%;
}

.filter-options h2 {
    color: white;
    background-color: var(--hero-back);
    font-size: 1em;
    padding-left: 0;
    padding-top: 0;
    text-transform: capitalize;
}

.filter-options select {
    background-color: white;
    border: 1px solid white;
    padding: 0.2vw 0.2vw 0.3vw;
}

.filter-options button {
    padding: 0.2vw;
}

/* ============================== */
/* ===== RESTAURANT LISTING ===== */
/* ============================== */

/* ===== GRID STUFF ===== */

#restaurants ul#restaurants-list {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);

}

/* ===== OTHER BITS ===== */

#restaurants-list {
    background-color: #F3F3F3;
    list-style: outside none none;
    padding: 2rem;
    text-align: center;
}

#restaurants-list li {
    background-color: var(--heading-back);
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem #AAAAAA;
}

#restaurants-list .restaurant-img {
    background-color: var(--heading-back);
    width: 100%;
}

#restaurants-list li h1 {
    font-size: 1.25em;
    text-align: left;
}

#restaurants-list p {
    background: var(--heading-back);
    color: var(--text-back);
    padding: 0 2vw;
}

#restaurants-list li a {
    background-color: var(--heading-back);
    border: 1px solid white;
    color: var(--heading-color);
    display: inline-block;
    font-size: 0.8em;
    margin: 2vw;
    padding: 0.8vw 1vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#restaurants-list li a:hover {
    color: var(--link-hover);
}

/* ============================== */
/* ===== RESTAURANT DETAILS ===== */
/* ============================== */

/* ===== GRID BITS ===== */

.inside #maincontent {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: start;
    align-content: start;
    justify-content: start;
}

.inside #map-container {
    grid-row: 1/2;
    grid-column: 1/3;
}

.inside #restaurant-container {
    grid-row: 2/3;
    grid-column: 1/3;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2,1fr);
}

.inside #reviews-container {
    grid-row: 3/4;
    grid-column: 1/3;
}

.inside #restaurant-container header {
    grid-row: 1/2;
    grid-column: 1/3
}

.inside #photo-cuisine {
    grid-row: 2/3;
    grid-column: 1/2;
}

.inside #address-hours {
    grid-row: 2/3;
    grid-column: 2/3;
}

#reviews-list {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 1vw;
    grid-template-columns: repeat(2, 1fr); 
}

@media screen and (max-width:799px){
    /* ===== GRID MODIFICATIONS ===== */
    .inside #photo-cuisine {
        grid-column: 1/3;
    }
    .inside #address-hours {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #reviews-list {
        grid-template-columns: 1fr; 
    }
}

/* ===== MAP, HEADER, PHOTO, CUISINE  ===== */

.inside header {
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    /* Must set container height to push down restaurant name etc */
    height: auto;
}

.inside #map {
    background-color: var(--text-back);
    height: 20vw;
}

#restaurant-name {
    font-size: 1.5em;
}

#restaurant-img {
    width: 100%;
}

#restaurant-cuisine {
    background-color: var(--heading-back);
    color: var(--text-back);
    font-weight: 300;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/* ===== ADDRESS AND HOURS ===== */

#address-hours p:first-of-type {
    padding-top: 2vw;
}

#address-hours p {
    padding-left: 2vw;
}

#restaurant-hours {
    border: 1px solid var(--hero-back);
    margin: 2vw;
    padding: 0;

}

#restaurant-hours th {
    color: var(--text-back);
    background-color: var(--hero-back);
    padding: 0.2vw 1vw;
}

#restaurant-hours tr:nth-of-type(2n) {
    background-color: rgb(220,220,220);
}

#restaurant-hours td {
    color: var(--heading-back);
    padding: 0.2vw 1vw;
}

/* ===== REVIEWS ===== */

#reviews-container h2 {
    color: var(--heading-color);
    font-weight: 300;
    margin-top: 0.2vw;
}

#reviews-list li {
    background-color: #FFFFFF;
    border: 1px solid var(--heading-back);
    list-style-type: none;
    margin: 1vw;
    padding: 1vw;
}

#reviews-list li h3, #reviews-list li time, #reviews-list li .rating   {
    margin:0;
    padding: 0.2vw;
}

#reviews-list li p {
    padding: 0 0.5vw 0.5vw;
}